.footer__content {
	padding: 0px 800px 0px 100px;
}


.footer__nav {
	position: relative;
	width: 100%;
	height: 100%;
}

.nav__list {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__list li {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	opacity: 0.6;
}

.nav__list a {
	text-decoration: none;
	position: relative;
	z-index: 1;

}
