@import url(nullstyle.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

/* =========================================== */
/* Body and other main tags                    */
/* =========================================== */

.wrapper {
	padding: 0px 70px 50px 70px;
	background-color: #09121a;
}

.main__container {
	display: grid;
	grid-template-columns: [header] 0.40fr [main] 2fr [footer] 0.2fr;
	gap: 40px;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	height: 95vh;
	padding: 50px 0px 0px 0px;
}

.main {
	background-color: aqua;
	margin: 50px 0px 0px 0px;
}

.footer {
	height: 95vh;
	position: sticky;
	top: 0;
	left: 0;
	padding: 50px 0px 0px 0px;
}

.header__fullscreen {
	width: 100%;
	height: 100%;
	background-color: #25323d;
	position: relative;
}


.main__content {}

.footer__content {
	width: 100%;
	height: 100%;
	background-color: blueviolet;
}



/* =========================================== */
/* Header                                      */
/* =========================================== */

.header__main__item {
	position: absolute;
	width: 100%;
	height: 25%;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgb(93, 35, 35);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header__main__item__profile {
	position: relative;
	margin: 0px 0px 20px 0px;
}

.header__dat {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 10;
	background-color: #F9C808;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgb(227, 216, 16);
	animation: pulse-dat 2s infinite;
	cursor: pointer;
}

.header__dat__text {
	position: absolute;
	bottom: -25px;
	right: -77.5px;
	width: 90px;
	height: 35px;
	background-color: #fff;
	z-index: 15;
	opacity: 0;
	transition: all ease-in-out .4s 0s;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 5px 0px 5px;
}

.header__dat__text p {
	font-size: 10px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	color: #000;
	text-align: center;
}

.header__main__item__photo {
	background-color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.header__main__item__title {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0px 0px 5px 0px;
}

.header__main__item__title a {
	text-decoration: none;
	color: transparent;
}

.header__main__item__title p {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	transition: all ease-in-out .4s 0s;
}

.header__main__item__subtitle {
	text-align: center;
	color: #fff;
	opacity: .5;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
}

.header__main__item__footer {
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: rgb(93, 35, 35);
}

.header__main__item__footer__icons {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__main__item__footer__icons a img {
	height: 18px;
	margin: 0px 10px 0px 0px;
}

.header__main__item__footer__icons a:last-child img {
	margin: 0px 0px 0px 0px;
}

.header__main__item__content {
	position: absolute;
	width: 100%;
	height: 65%;
	background-color: #F9C808;
	top: 25%;
	overflow-y: scroll;
}

.header__main__item__content::-webkit-scrollbar {
	width: 6px;
}

.header__main__item__content::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header__main__item__content::-webkit-scrollbar-thumb {
	background-color: darkgrey;
}

/* =========================================== */
/* Header: KeyFrames                           */
/* =========================================== */
@keyframes pulse-dat {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(227, 216, 16);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

/* =========================================== */
/* Header: Hover                               */
/* =========================================== */
.header__main__item__title:hover p {
	color: #F9C808;
}

.header__dat:hover+.header__dat__text {
	opacity: 1;
}

/* =========================================== */
/* Main                                        */
/* =========================================== */

/* =========================================== */
/* Footer                                      */
/* =========================================== */